/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --secondary-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}



.header {
 
  background-color: white;
  padding: 0px;
  margin-bottom: 35px;
}

.header .logo{
  padding-top: 30px;
}

.header a:hover {
 
  color: var(--main-color) !important;
  border-top: 2px solid var(--main-color);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
}

.main-div h2, p{
   margin:7px;
  }

form {
  display: flex;

  margin-top: 30px;
}
.location-input {
  display: flex;
  
}

.location-input input {
  border: none;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
width:120px;
padding-left:15px;
  font-weight: bolder;
}

.location-input input:focus {
  outline: none;
  border-top: 1px solid var(--main-bg-color);
}

.location-icon {
  background-color: var(--main-bg-color);
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
  border: 1px solid var(--main-bg-color);
  padding: 15px;
  font-weight: bolder;
}

.search-btn {
  display: inline-block;
width:150px;
 
}



.searchText {
  display: inline-block; /* Ensure both elements are aligned */
margin-left: 20px;
font-weight:bolder;
}

.searchIcon {
  display: none; /* Hide the search icon by default */
}

.form-location-search{
    height:45px;
}

.form-location-search button {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 14px 10px;
  color: white;
  font-weight: bolder;
}

/* filters styling */

.filters {
  display: flex;

  margin: 20px 0;
  margin-right: 0;
}

.filters ul {
    margin:0px;
  display: flex;
 

}

.filters h3 {
  align-self: center;
}

.filter-link {
  display: flex;
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
  padding: 10px 0;
  margin: 10px;
}
.filter-link:hover {
  background-color: var(--filter-bg-color);
}

.filter-link i {
  margin-left: 10px;
  color: var(--main-color);
}

.filters li span {
  margin: 0 10px;
  font-weight: bold;
}

/* filter for alert-info */
.alert-info {
  margin-bottom: 25px;
}
.alert-info i {
  color: var(--main-color);
  font-size: smaller;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  padding: 7px;
  width: 10px;
  height: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
 
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/******* Hebergements And Populaires  *******/
.hebergements-and-populaires {
    
  display: flex;
  justify-content: space-between;
 
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 5px 25px;
  box-sizing: border-box;
}

.hebergements-and-populaires .hebergements {
  background-color: var(--main-bg-color);
}
.hebergements-and-populaires .populaires {
  background-color: var(--main-bg-color);
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  
}

.hebergements h2 {
  margin: 20px 0;
 
}

.cards-hebergements {
  display: flex;
  width:100%;
  height: 75%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  
  
}
.cards-hebergements a {
  width: 30%;
  
}

.hebergements .card {
  padding: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.hebergements .card img {
  width: 100%;
  height:105px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.afficher {
  font-weight:bolder;
  margin-top: 30px;
}

#activites{
    padding:30px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
  padding:0;
 

}


.populaires-title {
  display: flex;
 
  justify-content: space-between;
  align-items: center;
}

.populaires-title h2{
    margin:20px 0;
}
.populaires-cards {
    display:flex;
    flex-direction: column;
    gap:5px;
    
}

.card{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.populaires-cards .card {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  gap:px;
  margin-top: 20px;
}

.populaires-cards img {
  width: 33%;
  height: 115px;
  padding:3px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.link-content{
    margin-left:5px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content{
    padding:0;
}

.card-content h4 {
   margin-top:10px;
   margin-bottom: 5px;
  }

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******* Activites section *******/
.activites {
  margin-top: 100px;
  background: var(--main-bg-color);
}
.activity-cards {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border: var(--main-color);
}
.activity-card {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activity-group {
  width: 23%;
}

.activity-group img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.activity-group a {
  text-decoration: none;
}

.activity-card h4 {
  font-weight: bold;
  color: black;
  padding: 0px 20px 20px 20px;
}

/******** footer et footer content styling ********/

.footer {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
  background-color: var(--main-bg-color);
}

.footer-content {
  width: 33%;
  padding-left: 15px;
}

ul > li {
  list-style: none;
  margin: 10px 0;
}

ul {
  padding: 0;
}

.footer h3 {
  font-weight: bolder;
  margin-top: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }
.populaires{
    height:250px;
}
 
.section-title h2{
    margin-bottom: 0 !important ;
}

.main-div h2{
    font-size:18px;
    font-weight: bolder;
}

  .filters {
    flex-direction: column;
    gap: 0px;
  }

  .filters .filtre-heading {
    width: 100%;
    margin-bottom: 0;
  }
  .hebergements {
    width: 100%;
  }

  .cards-hebergements {
    width:100%;
    gap: 25px;
  }

  .cards-hebergements a {
    height: 200px;
  }

  .cards-hebergements .card {
    width:100%;
    height: 100%;
  }

  .populaires {
    width: 100%;
    height:220px;
    margin-top: 50px;
    padding-bottom: 0 !important;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
   
  }

  .populaires-cards a {
    width: 32%;
   
   
  }

  .populaires-cards .card{
    margin-top: 0;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activity-cards .activity-group {
    width: 250px;
  }

  .activity-cards .activity-group a {
    height: 600px;
  }

  .activity-card {
    height: 300px;
  }

  

  .activity-group img {
    height: 230px;
  }

  .activity-group h4{
margin-top:0;
padding:10px 5px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */

  body {
    margin: 0px !important;
    padding: 0px !important;
  }

  .main-container {
    padding: 0px;
    font-size: 1em;
  }

  .main-div {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-div h2{
    margin:0;
  }

  .main-div p{
    margin-left:0;
  }
  .header {
    display: flex;
    flex-direction: column;
  }

  .header img {
    margin: 30px;
  }

  .header .logo {
    padding-top: 10px;
}

  .header a {
    width: 50%;
    display: block;
  }

  .header a:hover {
    padding-bottom: 13px;
    color: var(--main-color) !important;
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }
  .header-link a {
    border-bottom: 2px solid var(--secondary-color);
    margin: 0;

  }

  .populaires{
    height:470px;
}

.populaires-title .section-title{
    margin-bottom: 10px;
}
  .header-link {
   
    display: flex;
    width: 100%;
    text-align: center;
  }

  .searchText {
    display: none; /* Hide the text on small screens */
  }

  .searchIcon {
    display: inline-block; /* Display the search icon on small screens */
  }

  .location-input {
    width: 70%;
  }

  .location-input input {
    width:225px;
  }

  .form-location-search button {
    padding: 10px 15px !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
  }
.search-btn{
    width:50px;
}
  .filters .filtre-heading {
    margin: 10px;
  }

  .filter-link{
    margin:7px 2px !important;
  }

  .cards-hebergements{
    display:inline;
  }
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires .populaires {
    margin: 0px;
    padding: 20px 15px;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-and-populaires .hebergements {
    background-color: white;
  }
  .populaires-title h2{
    margin:0;
  }
.hebergements h2{
   font-size:larger;
   text-align:left !important; 
   margin-left:25px;
}
  .afficher{
    margin-top: 10px;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
   
    
  }
.card{
    margin-bottom: 5px;
}
  .populaires-cards
.section-title{
    margin-top: 0;
}
  .populaires-cards a {
    width: 100%;
  }
  .activity-cards {
    display: flex;
    flex-direction: column;
    gap:1px;
  }

  #hebergements {
    padding: 10px 0;
  }

  #hebergements h2 {
    text-align: center;
    font-size:22px;
  }
  .cards-hebergements a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .cards-hebergements a .card {
    width: 85%;
    margin: 5px;
  }

  .cards-hebergements a .card img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 125px;
    padding: 0px !important;
    margin: 0px !important;
  }
  #activites{
    margin-top:50px;
    padding:0px;
}
  .activity-cards {
    margin: 10px 35px;
  }
  .activity-card {
    height: auto;
  }
  .activity-cards .activity-group {
    width: 100%;
  }

  .activity-group a {
    height: auto;
  }

  .activity-card img {
    padding: 0px;
    height: 150px;
  }

  #activites h2 {
    padding-left: 35px;
  }

  .alert-info {
    display: flex;
  }

  .filters {
    display: inline-block;
    width: 100%;
  }
  .filters-div {
    padding: 0px;
  }
  .filters-div ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 0px;
    margin: 0px;
  }

  .filter-link {
    margin: 5px 0;
  }

  .afficher {
    font-weight: bolder;
    margin-left: 25px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 25px;
  }

  .footer-content {
    width: 100%;
    padding-left: 0;
  }
}
