/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --secondary-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.header {
  background-color: white;
  padding: 0px;
  margin-bottom: 50px;
}

.header a:hover {
  color: var(--main-color) !important;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
}

form {
  display: flex;
}
.location-input {
  display: flex;
}

.location-input input {
  border: none;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  font-weight: bolder;
}

.location-input input:focus {
  outline: none;
  border-top: 1px solid var(--main-bg-color);
}

.location-icon {
  background-color: var(--main-bg-color);
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
  border: 1px solid var(--main-bg-color);
  padding: 15px;
  font-weight: bolder;
}

.search-btn {
  display: inline-block;
}

.searchText {
  display: inline-block; /* Ensure both elements are aligned */
}

.searchIcon {
  display: none; /* Hide the search icon by default */
}

.form-location-search button {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px 30px;
  color: white;
  font-weight: bolder;
}

/* filters styling */

.filters {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.filters ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filters h3 {
  align-self: center;
}

.filter-link {
  display: flex;
  justify-content: center;
  border: 2px solid var(--main-bg-color);
  border-radius: 50px;
  padding: 10px 0;
  margin: 10px;
}
.filter-link:hover {
  background-color: var(--filter-bg-color);
}

.filter-link i {
  margin-left: 10px;
  color: var(--main-color);
}

.filters li span {
  margin: 0 10px;
  font-weight: bold;
}

/* filter for alert-info */
.alert-info {
  margin-bottom: 50px;
}
.alert-info i {
  color: var(--main-color);
  font-size: smaller;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
  padding: 7px;
  width: 10px;
  height: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/******* Hebergements And Populaires  *******/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.hebergements-and-populaires .hebergements{
    background-color:var(--main-bg-color);
}
.hebergements-and-populaires .populaires{
    background-color:var(--main-bg-color);
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.cards-hebergements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.cards-hebergements a {
  width: 30%;
}

.hebergements .card{
    padding:5px;
}

.hebergements .card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.afficher{
    font-weight: bolder;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  width: 100%;
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******* Activites section *******/
.activites {
  margin-top: 100px;
  background: var(--main-bg-color);
}
.activity-cards {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border: var(--main-color);
}
.activity-card {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activity-group {
  width: 23%;
}

.activity-group img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.activity-group a {
  text-decoration: none;
}

.activity-card h4 {
  font-weight: bold;
  color: black;
  padding: 0px 20px 20px 20px;
}

/******** footer et footer content styling ********/

.footer {
  display: flex;
  justify-content: space-between;

  margin-top: 100px;
  background-color: var(--main-bg-color);
}

.footer-content {
  width: 33%;
  padding-left: 15px;
}

ul > li {
  list-style: none;
  margin: 10px 0;
}

ul {
  padding: 0;
}

.footer h3 {
  font-weight: bolder;
  margin-top: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .filters{
    flex-direction:column;
    gap:0px;
  }

.filters .filtre-heading{
    width:100%;
    margin-bottom: 0;
}
  .hebergements {
    width: 100%;

  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */

  body {
    margin: 0px !important;
    padding: 0px !important;
  }

  .main-container {
    padding: 0px;
    font-size: 1em;
  }

  .main-div {
    padding-left: 20px;
  }
  .header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--secondary-color);
  }

  .header img {
    margin: 15px;
  }
  .header a {
    margin: 30px;
  }

  .header-link {
    margin-bottom: 15px;
  }

 
  .searchText {
    display: none; /* Hide the text on small screens */
  }

  .searchIcon {
    display: inline-block; /* Display the search icon on small screens */
  }

  .location-input {
    width: 70%;
  }

  .form-location-search button  {
    padding: 10px 15px  !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px ;
    border-bottom-right-radius:10px ;
    height:100%;
  }

 .filters .filtre-heading{
    margin: 25px 0;
 }

  .hebergements-and-populaires{
    flex-direction: column-reverse;
  
  }

 .hebergements-and-populaires .populaires{
    margin:0px;
 
 }

 .hebergements-and-populaires section{
    border-radius:0;

 }

 .hebergements-and-populaires .hebergements{
    background-color:white;
}
 
 
  .populaires-cards {
    display: flex;
    flex-direction: column;
  }
  .populaires-cards a {
    width: 100%;
  }
  .activity-cards {
    display: flex;
    flex-direction: column;
  }

  #hebergements {
    padding: 10px 0;
  }

  #hebergements h2 {
    text-align: center;
  }
  .cards-hebergements a {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cards-hebergements a .card {
    width: 85%;
    margin: 5px;
  }

  .cards-hebergements a .card img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 125px;
    padding: 0px !important;
    margin: 0px !important;
  }

  .activity-cards{
    margin:10px 35px;
    
  }

  .activity-cards .activity-group {
    width: 100%;
    
  }

  .activity-card img {
    padding: 0px;
    height:150px
  }

  #activites h2 {
    padding-left: 35px;
  }

  .filters {
    display: inline-block;
  }
  .filters-div {
    padding: 0px;
  }
  .filters-div ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 0px;
    margin: 0px;
  }

  .filter-link {
    margin: 0px;
  }

  .afficher{
    font-weight: bolder;
    margin-left: 25px;
}
  .footer {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .footer-content {
    width: 100%;
  }
}
